@import "./variables";

/* Fix small size sweetalert2 */
.swal2-container {
  zoom: 1.5 !important;
  z-index: $sidebarZIndex - 1 !important;
}

.swal2-height-auto {
  height: 100% !important; // Fix to not unhide pdf document content when showing alerts
}

.tagContainer[data-exam-hidden="true"] {
  display: none;
}

.navigationRingLink[aria-disabled="true"] {
  cursor: default;
}

.navigationRingLink[aria-disabled="true"] img {
  opacity: 0.4;
}

#studentNavigationRingPrevious {
  margin-left: 35px;
}

#screenshotButton {
  width: 32px;
  cursor: pointer;
}

[data-clickable="true"] {
  cursor: pointer;
}
